mixin menuItem(href, name)
	li
		a(href=href)= name
nav
	ul
		li#logo
			a(href="/") CLEMENTS JETS
		+menuItem("/about","ABOUT")
		+menuItem("/resources","RESOURCES")
		+menuItem("/updates","UPDATES")
		+menuItem("/calendar", "CALENDAR")
		+menuItem("/invitational", "INVITATIONAL")