mixin menuItem(href, name)
	li
		a(href=href)= name
script.
	var animateSpeed = 100;

	var menuClick = 0;
	var menuOpen = false;

	var lastWidth = 0;

	var mobile = false;

	function mobileAdjust() {
		if(
			($('#actionlist').children().length * 102 < $('#login').position()['left'] - 100)
		) {
			mobile = false;
			$('#hamburger').hide();
			$('#mobilemenu').hide();
			$('#actionlist').css('width', 'initial');
			$('#actionlist').appendTo($('nav'));
			$(document).off('click');
			$('#hamburger').off('click');
		} else {
			if(mobile == false) {
				mobile = true;
				$(document).click(function() {
					menuClick--;
					if(menuClick != 0) {
						$('#mobilemenu').animate({left: '-20rem'});
						menuClick = 0;
						menuOpen = false;
					}
				});
				$('#hamburger').click(function() {
					menuClick++;
					if(!menuOpen) {
						menuOpen = true;
						$('#mobilemenu').animate({left: 0});
					} else {
						menuOpen = false;
						$('#mobilemenu').animate({left: '-20rem'});
						menuClick = 0;
					}
				});
			}
			$('#hamburger').show();
			$('#mobilemenu').show();
			$('#mobilemenu').height(($('#actionlist').children().length - 1) * 75);
			$('#actionlist').css('width', '0px');
			$('#actionlist').appendTo($('#mobilemenu'));
		}
	}

	$(document).ready(function() {
		userAuth(function(auth) {
			var newExtraItems = '';
			$('.extra-item').remove();
			if(auth == -1) {
				logOut();
			} else if(auth >= 2) {
				$('#actionlist').append('<li class="extra-item"><a href="/calendar">CALENDAR</a></li><li class="extra-item"><a href="/resources">RESOURCES</a></li>');
				newExtraItems = newExtraItems.concat('<li class="extra-item"><a href="/calendar">CALENDAR</a></li><li class="extra-item"><a href="/resources">RESOURCES</a></li>');
			}
			if(auth >= 3) {
				$('#actionlist').append('<li class="extra-item"><a href="/admin">ADMIN</a></li>');
				newExtraItems = newExtraItems.concat('<li class="extra-item"><a href="/admin">ADMIN</a></li>');
			}
			if(localStorage.getItem('extraItems') != newExtraItems) {
				localStorage.setItem('extraItems', newExtraItems);
			}
			mobileAdjust();
			if(localStorage.getItem('user') == null) {
				var url = window.location.href.split('/')[3];
				if(url.slice(0, 5) != 'login') {
					$('#login').html('<a href="login' + (url != '' ? '#' + url : '') + '">LOG IN</a>');
				}
			} else {
				$('#login').html('<a href="">HI, ' + localStorage.getItem('name').toUpperCase() + '!</a>');
				$('#login').click(function() {
					if(window.confirm('Do you want to log out?')) {
						logOut();
						window.location.reload();
					}
				});
			}
		});
		setInterval(function() {
			if(lastWidth != $(document).width()) {
				lastWidth = $(document).width();
				mobileAdjust();
			}
		}, 100);
	});
nav
	div#hamburger(style='display:none')
		i(class="material-icons" style="color: white;font-size:4rem;line-height:75px") menu
	div#mobilemenu
	ul#actionlist(style='position:absolute;left:0px')
		li#logo
			a(href="/") CLEMENTS JETS
		+menuItem("/about","ABOUT")
		+menuItem("/updates","UPDATES")
		+menuItem("/donate", "DONATE")
		+menuItem("/invitational", "INVITATIONAL")
		script.
			if(localStorage.getItem('extraItems') != null) {
				$('#actionlist').append(localStorage.getItem('extraItems'));
			}
	div#login
	script.
		if(localStorage.getItem('user') == null) {
			$('#login').html('<a href="login' + (window.location.href != '' ? '#' + window.location.href : '') + '">LOG IN</a>');
		} else {
			$('#login').html('<a href="">HI, ' + localStorage.getItem('name').toUpperCase() + '!</a>');
		}
script.
	mobileAdjust();