mixin menuItem(href, name)
	li
		a(href=href)= name
script.
	$(document).ready(function() {
		userAuth(function(auth) {
			if(auth == -1) {
				localStorage.removeItem('user');
				localStorage.removeItem('pass');
				localStorage.removeItem('mail');
				localStorage.removeItem('name');
				localStorage.removeItem('last');
			}
			if(localStorage.getItem('user') == null) {
				$('#login').html('<a href="login">LOG IN</a>');
			} else {
				$('#login').html('<a href="">HI, ' + localStorage.getItem('name').toUpperCase() + '!</a>');
				$('#login').click(function() {
					if(window.confirm('Do you want to log out?')) {
						localStorage.removeItem('user');
						localStorage.removeItem('pass');
						localStorage.removeItem('mail');
						localStorage.removeItem('name');
						localStorage.removeItem('last');
						window.location.reload();
					}
				});
			}
		});

		var menuClick = 0;
		var menuOpen = false;

		if($(window).width() > 911) {
			$('#hamburger').remove();
			$('#mobilemenu').remove();
		} else {
			$('#actionlist').css('width', '0px');
			$('#actionlist').appendTo($('#mobilemenu'));
			$(document).click(function() {
				menuClick--;
				if(menuClick != 0) {
					$('#mobilemenu').animate({left: '-20rem'});
					menuClick = 0;
					menuOpen = false;
				}
			});
			$('#hamburger').click(function() {
				menuClick++;
				if(!menuOpen) {
					menuOpen = true;
					$('#mobilemenu').animate({left: 0});
				} else {
					menuOpen = false;
					$('#mobilemenu').animate({left: '-20rem'});
					menuClick = 0;
				}
			});
		}
	});
nav
	div#hamburger
		i(class="material-icons" style="color: white;font-size: 4rem;line-height:75px") menu
	div#mobilemenu
	ul#actionlist
		li#logo
			a(href="/") CLEMENTS JETS
		+menuItem("/about","ABOUT")
		+menuItem("/resources","RESOURCES")
		+menuItem("/updates","UPDATES")
		+menuItem("/calendar", "CALENDAR")
		+menuItem("/invitational", "INVITATIONAL")
	div#login