script(src="dist/js/slideshow.min.js")
div(class='slideshow')
	.row
		.col-md-1
		div(id='left')
			i(class='material-icons') arrow_back
		.col-md-10
		div(id='imgContainer')
			img(id='display')
		.col-md-1
		div(id='right')
			i(class='material-icons') arrow_forward