extends _layout

block content
	.content-container.container
		title About Us
		h1.title ABOUT US
		p The William P. Clements Junior Engineering Technical Society (JETS) is a science and engineering club focusing on two main competitions: Science Olympiad and Science Bowl. Our goals each season are to qualify and be successful in the national competition and to promote science and engineering in our community.
		h1.title PEOPLE OF JETS
		.row
			.col-md-3.col-sm-12
				a(href='https://www.fortbendisd.com/Domain/3499').person-card
					img(src='./dist/imgs/officers/Hart.jpg')
					h3 Geoffery Hart
					p Sponsor, AP Physics I and II Teacher
			.col-md-3.col-sm-12
				a(href='https://www.facebook.com/stephanxie.78').person-card
					img(src='./dist/imgs/officers/Emily.jpg')
					h3 Hannah Li
					p President
			.col-md-3.col-sm-12
				a(href='https://www.facebook.com/hannah.li.988373').person-card
					img(src='./dist/imgs/officers/Hannah.jpg')
					h3 Emily Li
					p Logistics Coordinator 
			.col-md-3.col-sm-12
				a(href='https://www.facebook.com/hannah.li.988373').person-card
					img(src='./dist/imgs/officers/Sanjay.jpg')
					h3 Sanjay Nagaraj
					p Logistics Coordinator
		.row
			.col-md-3.col-sm-12
				a(href='https://www.facebook.com/arul.yamdagni.3').person-card
					img(src='./dist/imgs/officers/Arul.jpg')
					h3 Arul Yamdagni
					p Build Coordinator
			.col-md-3.col-sm-12
				a(href='https://www.facebook.com/arul.yamdagni.3').person-card
					img(src='./dist/imgs/officers/Arul.jpg')
					h3 Erkam Isbilir
					p Build Coordinator
			.col-md-3.col-sm-12
				a(href='https://www.facebook.com/arul.yamdagni.3').person-card
					img(src='./dist/imgs/officers/Kate.jpg')
					h3 Kate Zheng
					p Volunteer Outreach
			.col-md-3.col-sm-12
				a(href='https://www.facebook.com/nithin.parsan').person-card
					img(src='./dist/imgs/officers/Nithin.jpg')
					h3 Andrew Cai
					p Science Bowl Coordinator
		.row
			.col-md-3.col-sm-12
				a(href='https://www.facebook.com/arul.yamdagni.3').person-card
					img(src='./dist/imgs/officers/Michael.jpg')
					h3 Michael Zheng
					p Advertisement/Web Team
			.col-md-3.col-sm-12
				a(href='https://www.facebook.com/arul.yamdagni.3').person-card
					img(src='./dist/imgs/officers/Anisha.jpg')
					h3 Anisha Parsan
					p Advertisement/Web Team
			.col-md-3.col-sm-12
				a(href='https://www.facebook.com/sanjayn2816').person-card
					img(src='./dist/imgs/officers/Sanjay.jpg')
					h3 Vaidehi Joshi
					p Advertisement/Web Team
		h1.title COMPETITIONS
		.row
			.col-md-6.col-sm-12
				.img-container
					img(src="./dist/imgs/Science_Olympiad_Logo.png")
				h2 Science Olympiad
				p Teams of 15 students compete in 23 different science-based events, from Materials Science to Astronomy. Five of these events are building-intensive events, where students construct projects such as bridges and robotic arms. Science Olympiad stresses teamwork: all events require teams of 2 or more, and qualification to State and Nationals is by team.
			.col-md-6.col-sm-12
				.img-container
					img(src="./dist/imgs/Science_Bowl_Logo.png")
				h2 Science Bowl
				p Teams of 4 face off against each other in answering science questions from every field: biology, chemistry, physics, mathematics, earth and space, and energy . The competition is based on a buzzer system and hinges upon speed, knowledge, and team synergy.
		h1.title ACHIEVEMENTS
		.row
			.col-md-4.col-sm-12
				h2 Science Olympiad
				p 2019
				ul
					li 1st at Regionals
					li 3rd at State
				ul
				p 2018
				ul
					li 1st and 2nd at Regionals
					li 2nd at State
				p 2017
				ul
					li 1st and 2nd at Regionals
					li 2nd at State
					li 6th at Nationals!!
				p 2016
				ul
					li 2nd at Regionals
					li 3rd at State
				p 2015
				ul
					li 2nd at Regionals
					li 3rd at State
				p 2014
				ul
					li 1st at Regionals
					li 1st at State
					li 14th at Nationals
				p 2013
				ul
					li 1st at Regionals
					li 1st at State
					li 30th at Nationals
				p 2012
				ul
					li 1st at Regionals
					li 3rd at State
			.col-md-4.col-sm-12
				h2 Science Bowl
				p 2019
				ul
					li 2nd at State
				ul
				p 2018
				ul
					li 2nd at State
				ul
				p 2017
				ul
					li 2nd and 4th at State
				p 2016
				ul
					li 1st at State
					li 3rd at Nationals
				p 2014
				ul
					li 2nd at State
				p 2012
				ul
					li 3rd at State
				p 2011
				ul
					li 4th at State
			.col-md-4.col-sm-12
				h2 TEAMS
				p 2019
				ul
					li 3rd, State 11/12 Division
				ul
				p 2018
				ul
					li 8th, State 9/10 Division
					li 11th, State 11/12 Division
				ul
				p 2017
				ul
					li 8th, State 9/10 Division
					li 14th, State 11/12 Division
				ul
				p 2016
				ul
					li 3rd & 4th, State 9/10 Division
					li 1st & 7th, State 11/12 Division
				p 2015
				ul
					li 1st & 3rd, State 9/10 Division
					li 2nd, 4th & 9th, State 11/12 Division
				p 2014
				ul
					li 1st & 2nd, State 9/10 Division
					li 2nd & 5th, State 11/12 Division
				p 2013
				ul
					li 2nd & 3rd, State 9/10 Division
					li 2nd & 3rd, State 11/12 Division
				p 2012
				ul
					li 1st & 4th, State 9/10 Division
					li 7th & 9th, State 11/12 Division
				p 2011
				ul
					li 1st, State 9/10 Division
					li 6th & 7th, State 11/12 Division
					li 12th, National 9/10 Division
		
