extends _layout

block content
	.content-container.container
		h1.section-title ABOUT US
		p The William P. Clements Junior Engineering Technical Society (JETS) is a science and engineering club. It's the most intellectual fun you'll ever have in high school! We focus on three main competitions: Science Olympiad, Science Bowl, and TEAMS. Our goal for this year is to place first in each of those three competitions and be successful in the national competitions, and we hope that we can work together and strive to be the best at everything regarding science.