extends _layout

block content
	.content-container.container
		style.
			body {
				padding-top: 20px;
				overflow: auto;
			}
			td {
				padding: 1rem;
				font: 2rem Roboto, sans-serif;
			}
			th {
				font: 2rem Montserrat, sans-serif;
				font-weight: 800;
				padding: 0.5rem;
			}
			td .material-icons {
				opacity: 0;
			}
			td:hover .material-icons {
				opacity: 1;
			}
		script.
			$.ajax({
				url: 'http://gaminged.com/ei1/jets/net/admin.php' +
				'?user=' + localStorage.getItem('user') +
				'&pass=' + localStorage.getItem('pass'),
				success: function(result) {
					if(result == 0) {
						$('#admin-table').html(`
							<h1 class='title'>Uh Oh.</h1>
							<p>
								Who told you about this page?<br>
								You aren't supposed to be here!
							</p>
						`);
					} else {
						$('#admin-table').html(result);
						$('.authority').click(function() {
							alert('The four access levels are as follows:\nUnverified User: has the same access as someone who is not logged in.\nVerified User: can participate in public chats but cannot access JETS resources.\nJETS Member: may access JETS resources but may not modify information regarding users other than themselves\nJETS Officer: able to modify website and user data.');
							var input = prompt('Please type the following: I, FIRSTNAME LASTNAME, swear to use my authority with good intent and reasonable caution. My account password is PASSWORD and I wish to change the access level of SUBJECT USERNAME to the level of NEW ACCESS LEVEL').replace(/\,/g, '').replace(/\./g, '').toLowerCase();
							if(input.split(' and i wish to change the access level of')[0] == 'i ' + localStorage.getItem('name').toLowerCase() + ' ' + localStorage.getItem('last').toLowerCase() + ' swear to use my authority with good intent and reasonable caution my account password is ' + localStorage.getItem('pass')) {
								var newauth = ['unverified user', 'verified user', 'jets member', 'jets officer'].indexOf(input.split('to the level of ')[1]);
								var subject = input.split('and i wish to change the access level of ')[1].split(' to the level of')[0];
								if(newauth == -1) {
									alert('Please enter the name of a valid access level.');
								} else {
									$.ajax({
										url: 'http://gaminged.com/ei1/jets/net/changeauth.php' +
										'?user=' + localStorage.getItem('user') +
										'&pass=' + localStorage.getItem('pass') +
										'&subject=' + subject +
										'&newauth=' + newauth,
										success: function(result) {
											if(result == 'yay') {
												window.location.reload();
											} else {
												alert('Oh crap something happened I\'m sorry master')
											}
										}
									})
								}
							} else {
								alert('The instructions were not followed correctly.');
							}
						});
					}
				}
			});
		#admin-table
