extends _layout

block content
	.content-container.container
		title JETS Calendar
		h1.title CALENDAR
		.container.center-both
			iframe(src="https://calendar.google.com/calendar/embed?src=1h8up5bv96b2f2o02e11rqrrm8%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no")