extends _layout

block content
	.content-container.container
		script.
			userAuth(function(auth) {
				if(auth == -1) {
					window.location.href = 'login#calendar';
				} else {
					$.ajax({
						url: 'http://gaminged.com/ei1/jets/net/request.php' +
						'?user=' + localStorage.getItem('user') +
						'&pass=' + localStorage.getItem('pass') +
						'&req=calendar',
						success: function(result) {
							$('.content-container').append(result);
						}
					});
				}
			});