extends _layout

block content
	.content-container.container
		script.
			userAuth(function(auth) {
				if(auth == -1) {
					window.location.href = 'login#calendar';
				} else {
					$.ajax({
						url: 'http://gaminged.com/ei1/jets/net/request.php' +
						'?user=' + localStorage.getItem('user') +
						'&pass=' + localStorage.getItem('pass') +
						'&req=calendar',
						success: function(result) {
							console.log(result);
							var calendar = `<h1 class="title">CALENDAR</h1>
							<iframe src="https://calendar.google.com/calendar/embed?height=800&amp;wkst=1&amp;bgcolor=%23B39DDB&amp;ctz=America%2FChicago&amp;src=b3UwYW4wdXVvdmU4bG0zaTdmaHQzcW8wMmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%238E24AA" style="border-width:0" width="1200" height="650" frameborder="0" scrolling="no"></iframe>`;
							$('.content-container').append(calendar);
						}
					});
				}
			});