extends _layout

block content
	.content-container.container
		h1.title CALENDAR
		.container.center-both
			iframe(src='https://calendar.google.com/calendar/embed?showTitle=0&showPrint=0&showCalendars=0&height=600&wkst=1&bgcolor=%23FFFFFF&src=jets.chs%40gmail.com&color=%2342104A&ctz=America%2FChicago', style='border-width:0', width='800', height='600', frameborder='0', scrolling='no')