extends _layout

block content
	.content-container.container
		style.
			.col2 {
				width: 10%;
				display: inline-block;
				padding: 2%;
			}
			.circle {
				width: 100%;
				padding-top: 100%;
				border-radius: 100vw;
			}
			.row1 {
				width: 100%;
				display: flex;
				align-items: center;
				margin: 4% 0;
			}
			.col1 {
				width: 30%;
				font-size: 3.5vh;
				text-align: right;
				display: inline-block;
			}
			.col3 {
				width: 60%;
				font-size: 3vh;
				display: inline-block;
			}
			@media only screen and (orientation : portrait) {
				.row1 {
					width: 100%;
					display: initial;
					margin: 0 0;
				}
				.col1 {
					display: block;
					width: 100%;
					text-align: center;
				}
				.col2 {
					display: none;
				}
				.col3 {
					display: block;
					width: 100%;
				}
			}
		title JETS Donation
		h1.title We Need Your Help!
		p.
			Hi! #[br]
			We're the Junior Engineering and Technical Society (JETS) of Clements High School. JETS is a group with over a hundred students that aims to spread the love and passion for science and technology to people and kids at a young age. We compete in tournaments and have achieved 6th place in National Science Olympiad and 3rd in National Science Bowl. We push young students to explore these areas and volenteer at our local middle schools to help them compete a level comparable to ours.
		h2 Here's what we need
		p.
			Your funding will allow us to aquire much needed building materials and equipment (raw materials, electronics, 3D printing) and educational resources that contribute heavily to our success. You will also be helping us with registration fees, rooms, and transportration regarding tournaments at local and national levels.
		h2 Levels of sponsorship
		.row1
			.col1.diamond(style='font-family:Montserrat;color:#0cf').
				DIAMOND #[br]
				$1000+
			.col2.diamondbg
				div.circle(style='background-color:#0cf')
			.col3.diamond(style='font-family:Roboto;color:#0af')
				ul
					li Recognition as club's main sponsor
					li Large recognition on team banner
					li Large recognition on T-shirt
					li Prominent advertisement on website and social media
					li + All gold rewards
		.row1
			.col1(style='font-family:Montserrat;color:#ea0').
				GOLD #[br]
				$500-$999
			.col2
				div.circle(style='background-color:#ea0')
			.col3(style='font-family:Roboto;color:#d80')
				ul
					li Recognition on Science Olympiad builds
					li Standard sized recognition on team banner
					li + All silver rewards
		.row1
			.col1(style='font-family:Montserrat;color:#aaa').
				SILVER #[br]
				$250-$499
			.col2
				div.circle(style='background-color:#aaa')
			.col3(style='font-family:Roboto;color:#888')
				ul
					li Recognition on Social Media
					li Standard sized recognition on T-shirt
					li + All bronze rewards
		.row1
			.col1(style='font-family:Montserrat;color:#950').
				BRONZE #[br]
				$100-$249
			.col2
				div.circle(style='background-color:#950')
			.col3(style='font-family:Roboto;color:#730')
				ul
					li Recognition on website
					li Optional monthly updates on competitions
		h2 We appreciate your consideration
		p.
			#[a(href='https://fortbendisd.revtrak.net/FBISD-Schools-1082/High-School/CHS/chs-jets-sci-club-/#/v/CHS-JETS-Donation-854') Click here to make an online donation.] #[br]
			If you are paying by check, make the check payable to "Clements Activity Fund" and write "Clements JETS" on the memo line. #[br]
			All contributions are fully deductible from income taxes as long as they do not exceed 10% your taxible. #[br]
			#[br]
			We thank you for your time and would love to hear back!#[br]
			Our email is: jets.chs@gmail.com