extends _layout

block content
	.content-container.container
		title JETS Donation
		h1.title We Need Your Help!
		p.
			Hi! #[br]
			We're the Junior Engineering and Technical Society (JETS) of Clements High School. JETS is a group with over a hundred students that aims to spread the love and passion for science and technology to people and kids at a young age. We compete in tournaments and have achieved 6th place in National Science Olympiad and 3rd in National Science Bowl. We push young students to explore these areas and volenteer at our local middle schools to help them compete a level comparable to ours.
		h2 Here's what we need
		p.
			Your funding will allow us to aquire much needed building materials and equipment (raw materials, electronics, 3D printing) and educational resources that contribute heavily to our success. You will also be helping us with registration fees, rooms, and transportration regarding tournaments at local and national levels, including our very own Clements Invitational.
		h2 Levels of sponsorship
		p.
			