extends _layout

block content
	#landing-container.container.center-both.flex-clmn
		img#landing-icon(src="dist/imgs/landing-icons/dna-structure.svg")
		h1 CLEMENTS JETS
		h3 Junior Engineering & Technical S#[a(href='http://jetschs.wixsite.com/clements-jets/gene-hsu' style='color:inherit;text-decoration:none;cursor:text') o]ciety