extends _layout
block content
	#landing-container.container.center-both.flex-clmn
		title Clements JETS
		img#landing-icon(src="dist/imgs/landing-icons/29.svg")
		script.
			$(document).ready(function() {
				/////////////////////WELCOME TO NEW WEBSITE/////////////////////
				if(window.location.href.split('#')[1] == 'new') {
					$('#welcome').html('As of 2017, this is the new Clements JETS website!<br><a href="http://clementsjets.org">clementsjets.org</a><br><br>Or click <a href="http://jetschs.wixsite.com/clements-jets-old">here</a> to go back to the old site.');
				}
			});
		h1 CLEMENTS JETS
		h3#welcome Junior Engineering & Technical S#[a(href='gene' style='color:inherit;text-decoration:none;cursor:text') o]ciety