extends _layout

block content
	style(type='text/css').
		@media only screen and (orientation : landscape) {
			body {
				background-image: url(https://www.fortbendisd.com/cms/lib/TX01917858/Centricity/ModuleInstance/28091/IMG_3059.jpg);
				background-color: rgb(200, 200, 200);
				background-blend-mode: screen;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				background-attachment: fixed;
				margin-bottom: 0;
				min-height: 100%;
			}
		}

		#teamlist {
			white-space: pre-line;
			color: black;
		}

		.l {
			font-size: 2.5rem;
			display:inline;
		}
		.m {
			font-size: 2rem;
			display:inline;
		}
		.s {
			font-size: 1.5rem;
			display:inline;
		}
		.bullet {
			font-size: 2rem;
		}
		h2 {
			margin-top: 8rem;
		}
	.content-container.container
		title CHS 2017 Invitational