extends _layout

block content
	style(type='text/css').
		@media only screen and (orientation : landscape) {
			body {
				background-image: url(https://www.fortbendisd.com/cms/lib/TX01917858/Centricity/ModuleInstance/28091/IMG_3059.jpg);
				background-color: rgb(200, 200, 200);
				background-blend-mode: screen;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				background-attachment: fixed;
				margin-bottom: 0;
				min-height: 100%;
			}
		}

		#teamlist {
			white-space: pre-line;
			color: black;
		}

		.l {
			font-size: 2.5rem;
			display:inline;
		}
		.m {
			font-size: 2rem;
			display:inline;
		}
		.s {
			font-size: 1.5rem;
			display:inline;
		}
		.bullet {
			font-size: 2rem;
		}
		h2 {
			margin-top: 8rem;
		}
		@keyframes getgoing {
			0% {opacity: 0; transform: scale(0.5);}
			100% {opacity: 1; transform: scale(1);}
		}
		#getgoing {
			border-radius: 16px;
			border: 2px solid rgb(41, 128, 185);
			padding: 2rem;
			background-color: rgba(41, 128, 185, 0.25);
			animation: getgoing 0.75s;
			animation-timing-function: ease-in-out;
			animation-delay: 0.25s;
			animation-fill-mode: both;
		}
	script.
		//////////////////////TEAMLIST READING AND WRITING//////////////////////

		function check() {
			var list = '';
			$.get('http://gaminged.com/ei1/jets/net/request.php?req=invite-teams&refresh=' + Math.random(), function(data) {
				$('#teamlist').html(data);
			});
		}

		function signupForInvite() {
			$.ajax({
				url: 'http://gaminged.com/ei1/jets/esus/apply.php' +
				'?user=' + localStorage.getItem('user') +
				'&pass=' + localStorage.getItem('pass') +
				'&school=' + $('#schoolname').val() +
				'&quantity=' + $('#quantity').val() +
				'&division=' + $('#division').val() +
				'&address=' + $('#address').val() +
				'&schoolphone=' + $('#schoolphone').val() +
				'&cellphone=' + $('#cellphone').val() +
				'&cheese=' + $('#cheese').val() +
				'&pepperoni=' + $('#pepperoni').val(),
				success: function(result) {
					if(result != -1) {
						alert('Ok! If we don\'t respond within about two days, email us at jets.chs@gmail.com.');
						window.location.reload();
					} else {
						alert('Uh oh, I don\'t think it worked.')
					}
				}
			});
		}

		$(document).ready(function() {
			$('#getgoing').hide();
			check();
			setInterval(function() {
				check();
			}, 10000);

			if($(window).width() < 900) {
				$('.form-control').css('width', '70%');
				$('.btn').css('width', 'calc(30% - 0.5rem)');
			}

			//mailing list enter button xd
			$('#mailname').keypress(function(e) {
				if(e.which == 13) {
					mailsubmit();
				}
			})
			///////////////////////GIVE OFFICER PRIVLAGES///////////////////////
			userAuth(function(auth) {
				if(auth >= 3) {
					$.ajax({
						url: 'http://gaminged.com/ei1/jets/net/request.php' +
						'?user=' + localStorage.getItem('user') +
						'&pass=' + localStorage.getItem('pass') +
						'&req=invitational',
						success: function(result) {
							$('#officer-add-teams').append(result.replace('REPLACENAME', localStorage.getItem('name')));
						}
					});
				} else {
					$('#officer-add-teams').remove();
				}
				if(auth == -1) {
					$('#getstarted').html('<p class=\'m\'>First, you\'re going to want to create an account. <br> <a href=\'logup#invitational#getstarted\'>Click here to do that!</a> <br> Come back here when you\'re done.<br><br></p>');
					$('#getgoing').hide();
				} else if(auth == 0 || auth == 1) {
					$.ajax({
						url: 'http://gaminged.com/ei1/jets/esus/validateCaptain.php' +
						'?user=' + localStorage.getItem('user') +
						'&pass=' + localStorage.getItem('pass'),
						success: function(result) {
							$('#getgoing').show();
							if(result == -1) {
								if(auth == 0) {
									$('#getgoing').append(`
										<p class='m'>
											Hi ` + localStorage.getItem('name') + `, your account isn't verified yet; that just means we need to contact you and make sure you are who you say you are. <br>
											But if you're a coach of your Science Olympiad team(s), fill out the form below to sign up! <br> <br>
										</p>
									`);
								} else {
									$('#getgoing').append(`
										<p class='m'>
											Hi ` + localStorage.getItem('name') + `! If you're a coach of your Science Olympiad team(s), you can go ahead and fill out the information below to sign up!
										</p>
									`);
								}
								$('#getgoing').append(`
									<style>.form-control{background-color:rgba(255, 255, 255, 0.5)}</style>
									<br><p class='m'>What's the name of the school?</p><br>
									<input id='schoolname' type='text' class='form-control' placeholder='School Name'><br>
									<p class='m'>How many teams do you have?</p>
									<select id='quantity'>
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select><br>
									<p class='m'>What division are your teams in?</p>
									<select id='division'>
										<option>C</option>
										<option>B</option>
									</select><br>
									<p class='m'>What is your mailing address?</p><br>
									<input id='address' type='text' class='form-control' placeholder='Mailing Address'><br>
									<p class='m'>What is your phone number in school?</p><br>
									<input id='schoolphone' type='text' class='form-control' placeholder='School Phone Number'><br>
									<p class='m'>What is your cell phone number?</p><br>
									<input id='cellphone' type='text' class='form-control' placeholder='Cellphone Number'><br>
									<p class='m'>Pizza costs $15 each. How many do you want for:</p><br>
									<p class='m'>Cheese Pizza:</p> <input id='cheese' type='number' placeholder='0'><br>
									<p class='m'>Pepperoni Pizza:</p> <input id='pepperoni' type='number' placeholder='0'><br>
									<p class='m'>Got any questions? Email jets.chs@gmail.com</p><br>
									<input type='button' class='btn btn-primary' value='SUBMIT' onClick='signupForInvite()'>
									<br>
									<p class='m'>Below is if you don't want to sign up for anything just yet.</p>
									<br><br>
								`);
							} else if(result == 0) {
								$('#getgoing').append(`
									<p class='m'>Hi, ` + localStorage.getItem('name') + `! You're on the waitlist. If you have any questions or concerns, contact us at jets.chs@gmail.com</p>
								`);
							} else {
								$('#getgoing').append(`
									<p class='m'>Congratulations, ` + localStorage.getItem('name') + `! You're all set! <br>
									Your team numbers will be released on November 12th. <br>
									ESUS schedule slot signups will be on this website on December 1st at 6:00PM. If you have any general questions or concerns, contact us at jets.chs@gmail.com! <br> <br>
									` + result + `<br>
									<a href='https://drive.google.com/open?id=1FCpaKGQLd8L1Nmnzgnfs-4hMoGJaKJewqqB0uHlGixw'><p class='m'>Here's a spreadsheet where you can view your team number(s).</p></a><br>
									<p class='m'>To make an online payment:<br><a href='https://fortbendisd.revtrak.net/FBISD-Schools-1082/High-School/CHS/chs-jets-sci-club-/#/v/CHS-JETS-Donation-854'>Click here to pay online</a><br>or you may mail checks to Clements JETS 4200 Elkins Rd, Sugar Land, TX 77479. Please write checks out to CHS Activity Fund. <br><br> Also, you're going to need these forms:<br><a target='_blank' href='https://docs.google.com/document/d/1Vai3nbtD3J_aJk4kdZNXHOisI36Gknt8mwx2fxsaZo8/edit?usp=sharing'>Assumption of Risk and Physician Form</a><br>
									<a target='_blank' href='https://docs.google.com/document/d/1c5NPYaKCAebyGmB3QqfeEo3Mb9VLij1Gt3Aki4oQNYw/edit?usp=sharing'>Competition Policy Form</a><br>
									<a target='_blank' href='https://docs.google.com/document/d/1TEffmQFCTCORDsMWHuYV48dN4DrDrZX6-Q-pQ8dxJbo/edit?usp=sharing'>Final Team Registration Form</a></p>`);
							}
						}
					});
				} else {
					$('#getgoing').show();
					$('#getgoing').html('<p class="m">You\'re a member of JETS, so this page probably doesn\'t apply to you, but feel free to browse anyway!</p>');
				}
			});
		});

		///////////////////////////////EMAIL LIST///////////////////////////////
		var emailVerify = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		function mailsubmit() {
			if(emailVerify.test($('#mailname').val())) {
				$('#mailerror').text('');
				$.ajax({
					url: 'http://gaminged.com/ei1/chsinvite/mailinglist.php?address=' + $('#mailname').val(),
					success: function(result) {
						if(result == 'yay') {
							$('#mailerror').css('color', 'green');
							$('#mailerror').text('Success!');
							alert('Thanks! We\'ll email you information on how to fully register for the invitational. If you\'d like to remove ' + $('#mailname').val() + ' from the mailing list, just reply to an email saying "stop", or contact us at jets.chs@gmail.com.');
							$('#mailname').val('');
						}
					}
				});
			} else {
				$('#mailerror').text('Invalid email address.');
			}
		}
	.content-container.container
		title CHS 2017 Invitational
		div.block
			script.
				$('.block').hide();
			h1.title CLEMENTS INVITATIONAL 2017
		.block
			#getgoing
		div.block
			script.
				$('.block').hide();
			h2(style='margin-top: 2rem') It's finally here.
			br
			p.m We're excited to announce that Clements JETS will be hosting its first Science Olympiad Invitational!
			br
			p.m It will be held on 
			p.l December 16th 
			p.m at #[a(href='https://www.google.com/maps/place/Clements+High+School/@29.5743129,-95.6355284,17z/data=!3m1!4b1!4m5!3m4!1s0x8640e410a9b5941f:0x9b8073186dff22ae!8m2!3d29.5743129!4d-95.6333397?hl=en') Clements High School].
		div.block
			script.
				$('.block').hide();
			h2(style='margin-top: 6rem') About Our Tournament
			p We promise to deliver a quality invitational for you to enjoy.
			ul
				li.bullet #[p.l We prevent event conflicts.] Nobody likes to miss out because of a scheduling error, so we are taking great care to distribute our events so you can compete with ease.
				li.bullet #[p.l Everyone likes good quality.] We put personal time and effort into our tests, and we only use experienced and trained proctors. We're following the official rule book and will do our best to make you feel like you're at nationals.
				li.bullet #[p.l We've got everything covered.] We already have our tests prepared and enough people to run our competition. You can come in and compete with no need for you to worry about parent volunteers or submitting tests.
			p The Clements Invitational is being hosted because we wanted to help you and your Science Olympiad team better prepare for your advancement to statewide and national levels. We take pride in our work and want to deliver a great experience for you.
			//div#officer-add-teams
			//p Heres a list of teams that are confirmed to be attending the invitational:
			//p(id='teamlist')
		div.block
			script.
				$('.block').hide();
			h2 Here Are The Details
			p.m It will be held on 
			p.l December 16th 
			p.m at #[a(href='https://www.google.com/maps/place/Clements+High+School/@29.5743129,-95.6355284,17z/data=!3m1!4b1!4m5!3m4!1s0x8640e410a9b5941f:0x9b8073186dff22ae!8m2!3d29.5743129!4d-95.6333397?hl=en') Clements High School].
			br
			p.m Admission is going to be priced at 
			p.l $120.
			br
			p.m The deadline is #[em November 5th.] If you pay after this day, the late fee is $10.
			br
			p.m We're rolling out our online payment system shortly, and also will be releasing the schedule as well as other important information, It's recommended that you scroll to the bottom and add your email to our list so you don't miss out.
			br
			p.m Helpful links:
			br
			p.m #[a(href='https://drive.google.com/open?id=0BxJxeYCvliIBVnladEw4TF9ORFE') First floor map]
			br
			p.m #[a(href='https://drive.google.com/open?id=0BxJxeYCvliIBcGRNS3JsUXRSbHc') Second floor map]
			br
			p.m #[a(href='https://drive.google.com/open?id=1m1IfP4fYkSLFQ4zyN-VUOPt1bxf-BhoYeQcy4QZvNq4') Event schedule]
			br
			p.m Results will be visible from this page once the award ceremony ends.
			br
		div.block
			script.
				$('.block').hide();
			h2 Attending Teams
			p.m We thank everyone for a great turnout of signed up teams. We are now 
			p.m(stye='color:red') full, 
			p.m but the registration system is staying up in case you wish to be put on our waitlist.
			br
			p.m#teamlist
		div.block
			script.
				$('.block').hide();
			h2 How Do I Get Started?
			div#getstarted
			p.m.
				When you get to the tournament, you need to have these forms filled out: #[br]
				#[a(target='_blank' href='https://docs.google.com/document/d/1Vai3nbtD3J_aJk4kdZNXHOisI36Gknt8mwx2fxsaZo8/edit?usp=sharing') Assumption of Risk and Physician Form]#[br]
				#[a(target='_blank' href='https://docs.google.com/document/d/1c5NPYaKCAebyGmB3QqfeEo3Mb9VLij1Gt3Aki4oQNYw/edit?usp=sharing') Competition Policy Form]#[br]
				#[a(target='_blank' href='https://docs.google.com/document/d/1TEffmQFCTCORDsMWHuYV48dN4DrDrZX6-Q-pQ8dxJbo/edit?usp=sharing') Final Team Registration Form]#[br]
			p.m If online registration just isn't your thing, #[a(href='https://docs.google.com/document/d/15T3nwkXfhC-1x1VFg4v2C-b82ZYjmLbmW-yk1RjfwF4/edit?usp=sharing') click here for a paper form.]
			br
			p.m If you just want to get email updates, type in your email below to get added to the email list.
			br
			input(type='text' class='form-control' style='width: 25vw;display:inline' placeholder='Email Address' id='mailname')
			input(type='button' class='btn btn-primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' value='SUBMIT' onClick='mailsubmit()').
			p(id='mailerror' style='color: red; font-size: 1.5rem')
			#officer-add-teams
		script.
			function animateIn(i) {
				$('.block:eq(' + i + ')').fadeIn(500);
				$('.block:eq(' + i + ')').css({'transition' : 'transform 0.5s ease-in-out'});
				$('.block:eq(' + i + ')').css({'transform' : 'translate(0, 0px)'});
			}
			$('.block').css({'transform' : 'translate(0, 100px)'});
			for(var i = 0; i < $('.block').length; i++) {
				setTimeout(animateIn.bind(null, i), i * 250);
			}