extends _layout

block content
	style(type='text/css').
		body {
			/*height: 100%;
			background-image: url(https://www.fortbendisd.com/cms/lib/TX01917858/Centricity/ModuleInstance/28091/IMG_3059.jpg);
			background-color: rgb(200, 200, 200);
			background-blend-mode:screen;*/
		}

		#teamlist {
			white-space: pre-line;
			color: black;
		}
	script.
		//////////////////////TEAMLIST READING AND WRITING//////////////////////
		function submit() {
			$.post('http://gaminged.com/ei1/chsinvite/signup.php?teamName=' + $('#teamname').val());
			location.reload();
		}

		function check() {
			var list = '';
			$.get('http://gaminged.com/ei1/chsinvite/teams.txt?refresh=' + Math.random(), function(data) {
				$('#teamlist').text(data);
			});
		}

		$(document).ready(function() {
			check();
			setInterval(function() {
				check();
			}, 10000);

			if($(window).width() < 900) {
				$('.form-control').css('width', '70%');
				$('.btn').css('width', '30%');
			}

			//mailing list enter button xd
			$('#mailname').keypress(function(e) {
				if(e.which == 13) {
					mailsubmit();
				}
			})
		});

		/////////////////////////GIVE OFFICER PRIVLAGES/////////////////////////
		userAuth(function(auth) {
			if(auth >= 3) {
				$('#officer-add-teams').append(
					'<div style="padding:2rem;width:auto;"><p>' +
					localStorage.getItem('name') +
					`, you're an officer, so here's a link to the emailing list: <br>
						<a href='http://ei1.xyz/chsinvite/emails.txt'>ei1.xyz/chsinvite/emails.txt</a><br>
						And if a new team confirms that they're going, add them here:</p>
						<input type='text' class='form-control' style='width: 25vw;display:inline' placeholder='Team Name' id='teamname'>
						<input type='button' class='btn btn-primary' value='Submit' onClick='submit()'></div>
					`
				);
			} else {
				$('#officer-add-teams').remove();
			}
		});

		///////////////////////////////EMAIL LIST///////////////////////////////
		var emailVerify = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		function mailsubmit() {
			if(emailVerify.test($('#mailname').val())) {
				$('#mailerror').text('');
				$.ajax({
					url: 'http://gaminged.com/ei1/chsinvite/mailinglist.php?address=' + $('#mailname').val(),
					success: function(result) {
						if(result == 'yay') {
							$('#mailerror').css('color', 'green');
							$('#mailerror').text('Success!');
							alert('Thanks! If you\'d like to remove ' + $('#mailname').val() + ' from the mailing list, just reply to an email saying "stop", or contact us at jets.chs@gmail.com.');
							$('#mailname').val('');
						}
					}
				});
			} else {
				$('#mailerror').text('Invalid email address.');
			}
		}
	.content-container.container
		title CHS 2017 Invitational
		h1.title CLEMENTS INVITATIONAL 2017
		p(style='display:inline')
			| Welcome!
			br
			| This is the official page regarding the upcoming 2017 Clements Invitational tournament on December 16th at #[a(href='https://www.google.com/maps/place/Clements+High+School/@29.5743129,-95.6355284,17z/data=!3m1!4b1!4m5!3m4!1s0x8640e410a9b5941f:0x9b8073186dff22ae!8m2!3d29.5743129!4d-95.6333397?hl=en') Clements High School].
			br
			| We #[i tentatively] are pricing admission is #[p(style='font-size:2.5rem;display:inline') $120]. 
			br
			| #[p(style='font-size:1.25rem;') If you can't attend on December 16, you may retrospectively purchase a copy of the tests we used for $75.]
		p If you'd like to be added to our email list for future updates, enter your email below:
		input(type='text' class='form-control' style='width: 25vw;display:inline' placeholder='Email Address' id='mailname')
		input(type='button' class='btn btn-primary' value='Submit' onClick='mailsubmit()')
		p(id='mailerror' style='color: red; font-size: 1.5rem')
		div#officer-add-teams
		br
		p If you would like to confirm to us that your team is attending the Clements Invitational, contact us at jets.chs@gmail.com
		p Heres a list of teams that are confirmed to be attending the invitational:
		p(id='teamlist')