extends _layout

block content
	.content-container.container
		h1.title Join Clements JETS!
		p(style='white-space:pre; font-size:2.5rem').
			Hi!
			This is Clements JETS.
			We're a bunch of people that
			like science and technology!
			If you join us, you could get to:
		ul(style='font-size:2.5rem')
			li Explore areas like biology, chemistry, physics, and earth/space sciences
			li Build and design structures and electronic machines
			li Participate in 
				ul 
					li National Science Olympiad (6th place at nationals!)
					li National Science Bowl (3rd place!)
					li And more!
			li Come with us in overnight trips to places like University of Pennsylvania and Massachusetts Institute of Technology 
		a(href='https://docs.google.com/forms/d/e/1FAIpQLSfm4B1OOa9hqzKep1NIwU-H5XQpE0JmIvJKg6tqm8wi9D5Y_w/viewform')
			input.btn.btn-primary(style='font-size:2rem;padding:1.5rem' type='button' value='Click here if you\'re interested!')