extends _layout

block content
	.content-container.container
		h1.title Join Clements JETS!
		p(style='font-size:2.5rem').
			Hi! #[br]
			This is Clements JETS. #[br]
			We're a bunch of people that #[br]
			like science and technology! #[br]
			If you join us, you could get to:
		ul(style='font-size:2.5rem')
			li Explore areas like biology, chemistry, physics, and earth/space sciences
			li Build and design structures and electronic machines
			li Participate in 
				ul 
					li National Science Olympiad (6th place at nationals!)
					li National Science Bowl (3rd place!)
					li And more!
			li Come with us on overnight trips to places like University of Pennsylvania and Massachusetts Institute of Technology 
		p(style='font-size:2.5rem').
			The first meeting is on Tuesday September 26 in the Downstairs Lecture Hall.
		a(href='https://docs.google.com/forms/d/e/1FAIpQLSfm4B1OOa9hqzKep1NIwU-H5XQpE0JmIvJKg6tqm8wi9D5Y_w/viewform')
			input.btn.btn-primary(style='font-size:2rem;padding:1.5rem' type='button' value='Click here if you\'re interested!')