extends _layout

block content
	.content-container.container
		title Club Night
		h1.title CLUB NIGHT
			<div class="row">
										<div class="col-md-6 col-sm-12">
											<h2>First Meeting Powerpoint</h2>
											<ul>
												<li><a href="https://docs.google.com/presentation/d/1Is4v-hzFiHN_ZlH6NmhqjTFnT3g08b7DYgHtCCpgf_E/edit?usp=sharing" target="_">Powerpoint Link</a></li>
												
				</div>
			script.
				var form = '<p align="center"> <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeIBDxVCKgrzvaOmTiZgQp-6prCet-_NOJUE6zdggXooRjTJA/viewform?embedded=true" width="640" height="1692" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> </p>';
				$('.content-container').append(form);