extends _layout

block content
	title Log In
	style.
		body {
			margin: 0;
		}
		#holder {
			position: absolute;
			width: 50vh;
			height: 50vh;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 1%;
		}
		.field {
			width: 100%;
			height: 10%;
			font-size: 2.5vh;
		}
		.btn {
			width: calc(50% - 0.5rem);
			height: 10%;
			margin-top: 5%;
			margin-bottom: 5%;
		}
		a {
			color: inherit;
		}
		#error {
			color: red;
			white-space: pre;
		}
	script.
		$(document).ready(function() {
			function submit() {
				localStorage.setItem('user', $('#user').val());
				localStorage.setItem('pass', $('#pass').val());
				userAuth(function(auth) {
					if(auth == -1) {
						localStorage.removeItem('user');
						localStorage.removeItem('pass');
						$('#error').text('I don\'t think it worked.');
					} else {
						$.ajax({
							url: 'http://gaminged.com/ei1/jets/net/getinfo.php' +
							'?user=' + localStorage.getItem('user') +
							'&pass=' + localStorage.getItem('pass'),
							success: function(result) {
								localStorage.setItem('mail', result.split(',')[0]);
								localStorage.setItem('name', result.split(',')[1]);
								localStorage.setItem('last', result.split(',')[2]);
								if(
									window.location.href.indexOf('#') == -1 ||
									window.location.href.split('#')[1].slice(0, 5) == 'logup'
								) {
									window.location.href = '../';
								} else {
									window.location.href = window.location.href.split('#')[1];
								}
							}
						});
					}
				});
			}
			$('#submit').click(submit);
			$(document).keypress(function(e) {
				if(e.which == 13) {
					submit();
				}
			});
			var redirect = window.location.href.split('#')[1];
			if(redirect == 'resources' || redirect == 'calendar') {
				$('#login-title').text('Log in to view this page')
			}
		});
	.content-container.container
		div#holder
			h1(style='text-align:center')#login-title Log In
			h4 Username
			input(type='text').field.form-control#user
			h4 Password
			input(type='password').field.form-control#pass
			p(style='font-size: 2vh;')#error
			a(href='logup')
				input(type='button' value='Create Account').btn.btn-secondary
			input(type='button' value='Log In').btn.btn-primary#submit
			a(href = 'forgot' style='font-size: 2vh;') <u>Forgot password? Click here.</u>
