doctype html
html
	head
		title QuarticTacToe
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.min.js')
		script(src='dist/js/quartictactoeMain.min.js')
		script(src='dist/js/quartictactoeData.min.js')
		script(src='dist/js/quartictactoeGraphics.min.js')
		style.
			body {
				text-align: center;
				margin: 0;
			}
	body