extends _layout
mixin menuItem(href, name)
	li
		a(href=href, target="_")= name
block content
	.container.content-container
		title JETS Resources
		h1.title RESOURCES
		p
			| A plethora of useful links, documents, and more! br br Have you been studying your butt off? Are you at a stalemate for resources? br br Well, here is a list of links and documents and YouTube videos for you to use as you study!
			br
			br 
			| Studying for JETS competitions, whether it be for Science Olympiad, Science Bowl, or TEAMS, is crucial to success. The more information you cram into your brain (and remember!), the better you will do when the actual competition comes! You many think that you have studied enough for your event, but truly, there is no such thing as "enough". Only when you can get a perfect on the test can you admit that you have studied enough. Until then, keep learning and keep studying. All of the competitions Clements JETS participates in are a team effort: when one man does poorly, the whole team does poorly. For many years, the Clements Science Olympiad team suffered because of that fact. There could be many high placings in various Science Olympiad events, but a single bombed event could mean a drop from 1st or 2nd place to 8th place. The burden of fhe team is shared by all the team member, so don't be the one who wastes all the other team members' hard work and leads the team to destruction! 
			br
			br
			| Study a lot, but take an occasional break. Watch some anime, read a few chapters of a book, take a walk, listen to music, draw something, play a game of League of Legends, or watch a YouTube video. Just remember to get back to studying, so the Clements JETS legacy can be continued!
			br
			br
			| Also, there's no full login system yet so it's easier to put all the JETS photos 
			a(href='photos') here
			|  too.
			br
			br
		.row
			.col-md-4.col-sm-12
				h2 Science Olympiad
				ul
					+menuItem("http://www.soinc.org/", "Science Olympiad Website")
					+menuItem("http://outreach.science.tamu.edu/scienceolympiad.php", "Texas Science Olympiad Website")
					+menuItem("http://soinc.org/2016_div_c_events", "2016 National Science Olympiad Events")
					+menuItem("http://www.scioly.org/phpBB3/index.php", "Science Olympiad Student Center")
					li
						a(href=dropbox, target="_") Clements Science Olympiad Dropbox
					li
						a(href=testLinkArchives, target="_") Test Link Archives
					li
						a(href=eventPrepSheet, target="_") Event Preparation Sheet
			.col-md-4.col-sm-12
				h2 Science Bowl
				ul
					+menuItem("http://science.energy.gov/wdts/nsb/", "Science Bowl Website")
					+menuItem("http://outreach.science.tamu.edu/sciencebowl.php", "Texas A&M Regional Science Bowl Website")
			.col-md-4.col-sm-12
				h2 TEAMS
				ul
					+menuItem("http://teams.tsaweb.org/", "TEAMS Website")