extends _layout
mixin menuItem(href, name)
	li
		a(href=href, target="_")= name
block content
	.container.content-container
		script.
			userAuth(function(auth) {
				if(auth == -1) {
					window.location.href = 'login#resources';
				} else {
					$.ajax({
						url: 'http://gaminged.com/ei1/jets/net/request.php' +
						'?user=' + localStorage.getItem('user') +
						'&pass=' + localStorage.getItem('pass') +
						'&req=resources',
						success: function(result) {
							console.log(result);
							var out = `<title>JETS Resources</title>
									<h1 class="title">RESOURCES</h1>
									<h2>Rules are out for the 2021-2022 Science Olympiad competition season!</h2>
									<h3 style="color:red;">Please <strong>DO NOT SHARE </strong>resources with anyone outside of Clements JETS.<br><br></h3>
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<h2>Science Olympiad</h2>
											<ul>
												<li><a href="https://drive.google.com/file/d/1n-xMrK1d8vFGuPHWADjEpwXX7UDxVsy8/view?usp=sharing" target="_">2021-2022 Division C Rules</a></li>

												<li><a href="https://docs.google.com/document/d/1UC-hCwEhERMAyxI17SIOFmjFr04CGwozZrKCnr5MMoU/edit?usp=sharing" target="_">Test Link Archives</a></li>
												<li><a href="https://www.dropbox.com/sh/cz2yv2klsv091d3/AACPRZYFUfpraGmWG5UOhJ03a?dl=0" target="_">Clements Science Olympiad Dropbox</a></li>
												<li><a href="https://drive.google.com/open?id=0ByzrlFZ8QKqlLVBVVnBoU2ljekU" target="_">Clements Science Olympiad Google Drive</a></li>
												<li><a href="https://docs.google.com/document/d/1izsYl3YhNB3PjN7ZMXmDiRlzbAZ9SweaDErcuh_bsZQ/edit?usp=sharing" target="_">Event Preparation Sheet</a></li>
												<li><a href="http://www.soinc.org/" target="_">Science Olympiad Website (soinc.org)</a></li>
												<li><a href="http://outreach.science.tamu.edu/scienceolympiad.php" target="_">Texas Science Olympiad Website</a></li>
												<li><a href="http://www.scioly.org/phpBB3/index.php" target="_">Science Olympiad Student Center (scioly.org)</a></li>
												<li><a href="https://docs.google.com/spreadsheets/d/1NzTBdcc7zTdFwBgxCWZOsawoJiEOS-eIbeUIb3bIpQI/edit?usp=sharing" target="_">Clements JETS Test and Scores</a></li>
											</ul>
										</div>
										<div class="col-md-6 col-sm-12">
											<h2>Science Bowl</h2>
											<ul>
											<li><a href="https://science.osti.gov/wdts/nsb/Regional-Competitions/Resources/HS-Sample-Questions" target="_">High School Sample Questions</a></li>
											<li><a href="http://science.energy.gov/wdts/nsb/" target="_">Science Bowl Website</a></li>
											<li><a href="http://outreach.science.tamu.edu/sciencebowl.php" target="_">Texas A&amp;M Regional Science Bowl Website</a></li>
											</ul>
										</div>
									</div>`;
							$('.content-container').append(out);
						}
					});
				}
			});
		br
		//p #[a(href='https://drive.google.com/open?id=1szrbpuGP8RE-NPKt7U7Qqoe3vGfX-UfT') 2019 Division C Rules]
