extends _layout
mixin menuItem(href, name)
	li
		a(href=href, target="_")= name
block content
	.container.content-container
		script.
			userAuth(function(auth) {
				if(auth == -1) {
					window.location.href = 'login#resources';
				} else {
					$.ajax({
						url: 'http://gaminged.com/ei1/jets/net/request.php' +
						'?user=' + localStorage.getItem('user') +
						'&pass=' + localStorage.getItem('pass') +
						'&req=resources',
						success: function(result) {
							$('.content-container').append(result);
						}
					});
				}
			});
		br
		p #[a(href='https://drive.google.com/open?id=1szrbpuGP8RE-NPKt7U7Qqoe3vGfX-UfT') 2019 Division C Rules]
