extends _layout
mixin menuItem(href, name)
	li
		a(href=href, target="_")= name
block content
	.container.content-container
		h1.title RESOURCES
		.row
			.col-md-4.col-sm-12
				h2 Science Olympiad
				ul
					+menuItem("http://www.soinc.org/", "Science Olympiad Website")
					+menuItem("http://outreach.science.tamu.edu/scienceolympiad.php", "Texas Science Olympiad Website")
					+menuItem("http://soinc.org/2016_div_c_events", "2016 National Science Olympiad Events")
					+menuItem("http://www.scioly.org/phpBB3/index.php", "Science Olympiad Student Center")
					li
						a(href=dropbox, target="_") Clements Science Olympiad Dropbox
					li
						a(href=testLinkArchives, target="_") Test Link Archives
					li
						a(href=eventPrepSheet, target="_") Event Preparation Sheet
			.col-md-4.col-sm-12
				h2 Science Bowl
				ul
					+menuItem("http://science.energy.gov/wdts/nsb/", "Science Bowl Website")
					+menuItem("http://outreach.science.tamu.edu/sciencebowl.php", "Texas A&M Regional Science Bowl Website")
			.col-md-4.col-sm-12
				h2 TEAMS
				ul
					+menuItem("http://teams.tsaweb.org/", "TEAMS Website")